* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("../img/bg_foto.png");
  background-repeat: no-repeat;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav .logo a {
  margin-left: 30px;
}
header nav .logo a img {
  padding: 30px 30px;
}
header nav .logo a.logo_mobile {
  display: none;
}
header nav .navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 50px 40px;
}
header nav .navigation ul li a {
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  padding: 10px;
  color: #ffffff;
}
header nav .navigation ul li a:hover {
  color: #ac9b87;
}
header hgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 220px ;
}
header hgroup .logo_header {
  display: none;
}
header hgroup h2 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
header hgroup h1 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}
header hgroup p {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}
header hgroup a {
  margin-bottom: 370px;
  border-radius: 5px;
  background-color: #998675;
  width: 170px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
header hgroup a:hover {
  background-color: #fff;
  color: #998675;
  border: 1px solid #998675;
}
aside {
  display: flex;
  justify-content: space-around;
}
aside section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px 30px;
}
aside section h4 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
aside section p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}
aside section hr {
  background-color: #8c8c8c;
  width: 70px;
  height: 3px;
  border: none;
}
aside section:hover h4,
aside section:hover p {
  color: #c7b299;
}
aside section:hover hr {
  background-color: #c7b299;
}
section.screen_content {
  width: 100%;
  background-color: #fbfaf8;
}
section.screen_content .contant {
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
section.screen_content .contant h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  padding-top: 83px;
}
section.screen_content .contant p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 23px 0 40px;
}
section.screen_content .screen {
  display: flex;
  justify-content: space-between;
  position: relative;
}
section.screen_content .screen .screen_left,
section.screen_content .screen .screen_right {
  width: 50%;
  height: 70%;
  padding: 123px 1% 0;
}
section.screen_content .screen .screen_active {
  position: absolute;
  padding: 0 20%;
  margin-bottom: -50px;
  bottom: 50px;
  display: flex;
  width: 100%;
  height: 100%;
}
.wordpress {
  background-image: url("../img/bg.png");
  padding: 0;
  display: flex;
}
.wordpress .left {
  width: 60%;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
}
.wordpress .left h3 {
  font-family: Raleway, sans-serif;
  color: #c7b299;
  font-size: 28px;
  font-weight: 400;
}
.wordpress .left h3 span {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}
.wordpress .left p {
  font-family: Raleway, sans-serif;
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}
.wordpress .right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 50px 30px;
}
.wordpress .right a {
  border-radius: 5px;
  background-color: #998675;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}
.wordpress .right a:hover {
  background-color: #fff;
  color: #615855;
  border: 1px solid #998675;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 10px;
}
.portfolio p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}
.portfolio .button {
  display: inline-flex;
  margin: 5px 0;
}
.portfolio .button a {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px;
}
.portfolio .button a:first-child {
  padding: 10px 28px;
}
.portfolio .button a:hover {
  background-color: #998675;
  color: #fff;
  border: 1px solid #998675;
}
.portfolio .project_group {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
}
.portfolio .project_group .project {
  background-color: #fbfaf8;
  margin: 15px;
}
.portfolio .project_group .project .picture {
  position: relative;
}
.portfolio .project_group .project .picture .link {
  position: absolute;
  top: 45%;
  left: 40%;
  display: none;
}
.portfolio .project_group .project .picture .zoom {
  position: absolute;
  top: 45%;
  left: 55%;
  display: none;
}
.portfolio .project_group .project .caption {
  margin: 30px 0 0 30px;
  position: relative;
}
.portfolio .project_group .project .caption img {
  position: absolute;
  top: -44px;
}
.portfolio .project_group .project .caption .arrowhover {
  display: none;
}
.portfolio .project_group .project .caption h4 {
  font-family: Raleway, sans-serif;
  color: #c7b29a;
  font-size: 20px;
  font-weight: 500;
}
.portfolio .project_group .project .caption h5 {
  font-family: Montserrat, sans-serif;
  color: #d1d1d1;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 27px;
}
.portfolio .project_group .project:hover {
  background-color: #362f2d;
}
.portfolio .project_group .project:hover .picture img {
  opacity: 0.5;
}
.portfolio .project_group .project:hover .picture .link {
  display: block;
  opacity: 1;
}
.portfolio .project_group .project:hover .picture .zoom {
  display: block;
  opacity: 1;
}
.portfolio .project_group .project:hover .caption h4 {
  color: #a7a6a5;
}
.portfolio .project_group .project:hover .caption h5 {
  color: #c7b299;
}
.portfolio .project_group .project:hover .caption .arrow {
  display: none;
}
.portfolio .project_group .project:hover .caption .arrowhover {
  display: block;
}
.portfolio a.load_more {
  border: 1px solid #998675;
  border-radius: 5px;
  background-color: #998675;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  margin: 10px 0 80px;
  padding: 19px 46px;
}
.portfolio a.load_more:hover {
  background-color: #fff;
  color: #998675;
}
.video {
  background-image: url("../img/bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0 ;
}
.video h3 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 45px 0 28px;
}
.video p {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.mobile_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile_info .hand_mobile {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  padding-top: 79px;
}
.mobile_info .mobile_content {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mobile_info .mobile_content h3 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
}
.mobile_info .mobile_content p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  width: 85% ;
  padding: 40px 0;
}
.mobile_info .mobile_content ul {
  list-style-type: none;
  padding-left: 48px;
  list-style-position: outside;
}
.mobile_info .mobile_content ul .fa-check-circle {
  color: #c7b299;
  padding-right: 10px;
}
.mobile_info .mobile_content ul li {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}
.timer {
  background-image: url("../img/bg.png");
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
}
.timer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 40px;
}
.timer section h4 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 200;
  line-height: 36px;
  text-align: center;
  padding: 30px 0 18px;
}
.timer section p {
  font-family: Montserrat, sans-serif;
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-bottom: 28px;
}
.timer section hr {
  background-color: #ffffff;
  width: 30px;
  height: 2px;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 15px;
}
article p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin: 15px 0 20px;
}
article .blog_group {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  margin: 5px 0 125px;
}
article .blog_group .blog {
  background-color: #fff;
  margin: 15px;
  border: 1px solid #f8f8f8;
}
article .blog_group .blog .picture {
  position: relative;
}
article .blog_group .blog .picture .date {
  background-color: #363636;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
}
article .blog_group .blog .picture .date h5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  margin: 9px 5px;
  text-align: center;
}
article .blog_group .blog .picture .date h6 {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 7px 12px;
  text-transform: capitalize;
  background-color: #252525;
}
article .blog_group .blog .blog_caption {
  margin: 30px 0 30px 30px;
}
article .blog_group .blog .blog_caption h4 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
article .blog_group .blog .blog_caption p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin: 20px 0 25px;
}
article .blog_group .blog .blog_caption a {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  color: #c7b299;
  padding: 5px;
}
article .blog_group .blog:hover {
  background-color: #362f2d;
}
article .blog_group .blog:hover .picture img {
  opacity: 0.5;
}
article .blog_group .blog:hover .picture .date {
  background-color: #c7b299;
}
article .blog_group .blog:hover .picture .date h6 {
  background-color: #a48d72;
}
article .blog_group .blog:hover .blog_caption h4 {
  color: #c7b299;
}
article .blog_group .blog:hover .blog_caption p {
  color: #fff;
}
.logo_partners {
  background-image: url("../img/bg_logo.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.logo_partners img {
  margin: 140px 0;
  width: 150px;
  height: 150px;
}
.info_blog {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background-color: #191919;
  padding: 5% 0;
}
.info_blog .about {
  width: 23.5%;
  padding: 1.5%;
}
.info_blog .about p {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding: 30px 0;
}
.info_blog .about a {
  font-family: Montserrat, sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 0;
}
.info_blog .about a .arrow {
  padding-bottom: 0 !important;
}
.info_blog .about a:hover {
  color: #545454;
}
.info_blog .recent_posts {
  width: 23.5%;
  padding: 1.5%;
}
.info_blog .recent_posts h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.info_blog .recent_posts .posts_blog {
  padding: 15px 0;
  border-bottom: 1px solid #252525;
}
.info_blog .recent_posts .posts_blog h6 {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  padding-bottom: 5px;
}
.info_blog .recent_posts .posts_blog a {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}
.info_blog .recent_posts .posts_blog:last-child {
  border-bottom: none;
}
.info_blog .recent_posts .posts_blog:hover h6 {
  color: #fff;
}
.info_blog .recent_posts .posts_blog:hover a {
  color: #c7b299;
}
.info_blog .twitter {
  width: 23.5%;
  padding: 1.5%;
}
.info_blog .twitter h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.info_blog .twitter .twitter_blog {
  padding: 15px 0;
  border-bottom: 1px solid #252525;
}
.info_blog .twitter .twitter_blog h6 {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 5px;
}
.info_blog .twitter .twitter_blog a {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}
.info_blog .twitter .twitter_blog a span {
  color: #00bff3;
}
.info_blog .twitter .twitter_blog:last-child {
  border-bottom: none;
}
.info_blog .twitter .twitter_blog:last-child p span {
  color: #959595;
}
.info_blog .widget {
  width: 23.5%;
  padding: 1.5%;
}
.info_blog .widget h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.info_blog .widget .widget_photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info_blog .widget .widget_photo img {
  margin: 1% 1%;
}
footer {
  background-color: #111111;
  display: flex;
}
footer .left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding: 45px 0  53px 45px;
}
footer .left h5 {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
  border-right: 1px solid #1e1e1e;
}
footer .left h5 span {
  font-family: Montserrat, sans-serif;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
footer .left a {
  font-family: Montserrat, sans-serif;
  color: #242424;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
  text-decoration: none;
  border-right: 1px solid #1e1e1e;
}
footer .left a:nth-child(3) {
  font-family: Montserrat, sans-serif;
  color: #c7b299;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
footer .left a:last-child {
  border-right: none;
}
footer .left a:hover {
  color: #959595;
}
footer .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 45px 30px 53px;
}
footer .right h5 {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
}
footer .right h5 a {
  font-family: Montserrat, sans-serif;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}
footer .right h5:first-child {
  border-right: 1px solid #1e1e1e;
}
@media (min-width: 768px) and (max-width: 1023px) {
  nav .logo a {
    display: none;
  }
  nav .navigation ul {
    padding: 50px 15px !important;
  }
  nav .navigation ul li a {
    padding: 15px !important;
  }
  hgroup {
    margin-top: 200px !important;
  }
  hgroup .logo_header {
    padding-bottom: 20px !important;
    display: block !important;
  }
  aside {
    flex-wrap: wrap;
  }
  aside section {
    width: 40%;
    padding: 5%;
  }
  .info_blog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .info_blog .about,
  .info_blog .recent_posts,
  .info_blog .twitter,
  .info_blog .widget {
    width: 50%;
  }
}
