@font_Raleway: Raleway, sans-serif;
@font_Montserrat: Montserrat, sans-serif;
@font_size: 16px;
@color_text:  #ffffff;
@color_words:  #8c8c8c;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 320px;


}

/*header start*/
header{
  background-image: url("../img/bg_foto.png");
  background-repeat: no-repeat;

  /*navigation start*/
  .navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0 2%;
    z-index: 100;

    /*logo*/
    .logo{
      width: 30%;
      a {
        margin-left: 30px;
        img {
          padding: 30px 30px;
        }
      }
      a.logoMobile{
        display: none;
      }
    }
    /*navigation*/
    nav{
      width: 60%;
      ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 50px 10px;
         li{
           a{
             text-decoration: none;
             text-align: center;
             font-size: 14px;
             font-family: @font_Montserrat;
             font-weight: 300;
             padding: 10px;
             color:@color_text;
           }
           a:hover{
             color: #ac9b87;
          }
        }
      }
    }

    /*search and cart*/
    .searchCart{
      width: 10%;
      padding: 45px 0;
      a{
        padding: 10px;
      }

    }
  }
  /*navigation end*/

  /*header information*/
  hgroup{
    padding-top: 300px;
    .sl {
      max-width: 100%;
      margin: 0 auto;
      .slick-prev {
        top: 100px;
        left: 20px;
        z-index: 40;
        height: 200px;
        width: 100px;
      }
      .slick-prev:before{
        content: url("../img/arrow_pr.png");
      }
      .slick-next {
        top: 100px;
        right: 50px;
        z-index: 40;
        height: 200px;
        width: 100px;
      }
      .slick-next:before{
        content: url("../img/arrow_next.png");
      }
      .slick-dots li{
        margin: 50px 5px;
        button{

          border-radius: 50%;
          width:5px;
          height: 5px;
          background-color: rgba(172, 155, 135, 0.4);
        }
      }
      .slick-dots li button:before{
        content: '';
      }
      .slick-dots li.slick-active button {
        background-color: rgba(172, 155, 135, 0.02);
        border: 1px solid #ac9b87 ;
      }


      .sl_slide {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        outline: none;

        h2 {
          font-family: @font_Raleway;
          color: @color_text;
          font-size: 34px;
          font-weight: 500;
          text-align: center;
        }
        h1 {
          font-family: @font_Raleway;
          color: @color_text;
          font-size: 52px;
          font-weight: 700;
          text-align: center;
          margin: 15px 0;
        }
        p {
          font-family: @font_Montserrat;
          color: @color_text;
          font-size: @font_size;
          font-weight: 300;
          line-height: 24px;
          text-align: center;
          margin-top: 10px;
        }
        a {
          margin-bottom: 370px;
          border-radius: 5px;
          background-color: #998675;
          width: 170px;
          height: 53px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-family: @font_Raleway;
          color: @color_text;
          font-size: 14px;
          font-weight: 700;
          line-height: 23px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 50px;
          border:none;
          outline: none;

        }
        a:hover {
          background-color: #fff;
          color: #998675;
          border: 1px solid #998675;
        }
      }
    }
  }
}
/*header end*/


/*section our works start*/
aside{
  display: flex;
  justify-content: space-around;
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding:  80px 30px;
    h4{
      font-family: @font_Raleway;
      color:  #555555;
      font-size: 22px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
    p{
      font-family: @font_Montserrat;
      color:  #8c8c8c;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      margin-bottom: 30px;
    }
    hr {
      background-color: #8c8c8c;
      width: 70px;
      height: 3px;
      border: none;
    }

  }

  /*active section*/
  section:hover h4,section:hover p{
    color: #c7b299;
  }
  section:hover hr{
    background-color: #c7b299;
  }
}
/*section our works end*/


/*screen section start*/
section.screenContent{
  width: 100%;
  background-color:#fbfaf8;
  .contant{
    width: 80%;
    margin: 0 10%;
    text-align: center;
    h2{
      font-family: @font_Raleway;
      color:  #555555;
      font-size: 30px;
      font-weight: 600;
      padding-top: 83px;
    }
    p{
      font-family: @font_Montserrat;
      color:  #8c8c8c;
      font-size: @font_size;
      font-weight: 300;
      line-height: 28px;
      margin: 23px 0 40px;
    }
  }
  .screen{
    display: flex;
    justify-content: space-between;
    position: relative;
    .screenLeft,.screenRight{
      width: 50%;
      height: 70%;
      padding: 123px 1% 0;
    }
    .screenActive {
      position: absolute;
      padding: 0 20%;
      margin-bottom: -50px;
      bottom: 50px;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }
}
/*screen section end*/


/*wordpress works start*/
.wordpress {
  background-image:  url("../img/bg.png");
  padding: 0;
  display: flex;
  .left {
     width: 60%;
     text-align: left;
     padding-top: 50px;
     padding-left: 30px;
     h3 {
       font-family: @font_Raleway;
       color: #c7b299;
       font-size: 28px;
       font-weight: 400;
       span {
         font-family: @font_Raleway;
         color: @color_text;
         font-size: 28px;
         font-weight: 400;
       }
     }
     p {
       font-family: @font_Raleway;
       color: #615855;
       font-size: 18px;
       font-weight: 300;
     }
   }

    /*button*/
   .right {
     width: 40%;
     display: flex;
     justify-content: flex-end;
     padding: 50px 30px;
     a {
       border-radius: 5px;
       background-color: #998675;
       width: 170px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-decoration: none;
       font-family: @font_Raleway;
       color: @color_text;
       font-size: 14px;
       font-weight: 700;
       line-height: 23px;
       text-transform: uppercase;
     }
     a:hover {
       background-color: #fff;
       color: #615855;
       border: 1px solid #998675;
     }
   }
 }
/*wordpress works end*/

/*Portfolio start*/
.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-family: @font_Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 80px 0 10px;
  }
  p{
    font-family: @font_Montserrat;
    color:  #8c8c8c;
    font-size: @font_size;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin: 15px 0;
  }
  /*button group*/
  .buttonGroup{
    display: inline-flex;
    margin: 5px 0;
    .title{
      background-color:  #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color:  #8c8c8c;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      text-transform: uppercase;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px 5px;
      outline: none;
      cursor: pointer;
    }
  }
   /*group projects*/
  .projectGroup{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
     .project{
        background-color: #fbfaf8;
        margin: 15px;
        display: none;
        .picture{
          position: relative;
        }
        .caption{
          margin: 30px 0 0 30px;
          position: relative;
          img{
            position: absolute;
            top: -44px;
          }
          .arrowHover{
            display: none;
          }
          h4{
            font-family: @font_Raleway;
            color:  #c7b29a;
            font-size: 20px;
            font-weight: 500;

          }
          h5{
            font-family: @font_Montserrat;
            color:  #d1d1d1;
            font-size: @font_size;
            font-weight: 300;
            line-height: 20px;
            padding-top: 14px;
            padding-bottom: 27px;

          }
        }
      }
      .project:hover{
        background-color: #362f2d;
        .picture {
          img{
            opacity: 0.5;
          }
          .link {
            display: block;
            opacity: 1;
          }
          .zoom {
            display: block;
            opacity: 1;
          }
        }
        .caption{
           h4{
             color: #a7a6a5;
           }
          h5{
            color: #c7b299;
          }
          .arrow{
            display: none;
          }
          .arrowHover{
            display: block;
          }
        }
      }
    }

  .title.active {
    background-color:  #998675;
    color: #fff;
    border: 1px solid #998675;
  }
  .project.active {
    display: block;
  }
  a.loadMore {
    border: 1px solid #998675;
    border-radius: 5px;
    background-color: #998675;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: @font_Raleway;
    color: @color_text;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin: 10px 0 80px;
    padding: 19px 46px;
  }
  a.loadMore:hover {
    background-color: #fff;
    color: #998675;
  }
}
/*Portfolio end*/

/*Video presentaion start*/
.videoPopup{
  background-image:  url("../img/bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0 ;
  a{
    outline: none;
  }
  h3{
    font-family: @font_Raleway;
    color:  @color_text;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 45px 0 28px;
  }
  p{
    font-family:  @font_Montserrat;
    color:  @color_text;
    font-size: @font_size;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*Video presentation end*/

/*Mobile app plus start*/
.mobileInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*section with photo iphone at hand*/
  .handMobile {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    padding-top: 79px;
  }
  /*content and plus of mobile app*/
  .mobileContent{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h3{
      font-family: @font_Raleway;
      color:  #555555;
      font-size: 30px;
      font-weight: 600;
    }
    p{
      font-family: @font_Montserrat;
      color:  #8c8c8c;
      font-size: @font_size;
      font-weight: 300;
      line-height: 28px;
      width:85% ;
      padding: 40px 0;
    }
    /*list of plus*/
    ul{
      list-style-type: none;
      padding-left: 48px;
      list-style-position: outside;

      .fa-check-circle{
        color: #c7b299;
        padding-right: 10px;
      }
      li{
        font-family: @font_Montserrat;
        color:  #8c8c8c;
        font-size: @font_size;
        font-weight: 300;
        line-height: 32px;
      }
    }
  }
}
/*Mobile app plus end*/

/*section of timer start*/
.timer{
  background-image:  url("../img/bg.png");
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  /*timers*/
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 25px 0;
    .counter{
      font-family: @font_Montserrat;
      color:  @color_text;
      font-size: 48px;
      font-weight: 200;
      line-height: 36px;
      text-align: center;
      margin: 15px 0;
      width: 200px;
      display: table-cell;
      vertical-align: middle;
    }
    p{
      font-family: @font_Montserrat;
      color:  #c7b299;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      padding-bottom: 28px;
    }
    hr{
      background-color: @color_text;
      width: 30px;
      height: 2px;
    }
  }
}
/*section of timer end*/

/*Blog information start*/
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-family: @font_Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 80px 0 15px;
  }
  p{
    font-family: @font_Montserrat;
    color:  #8c8c8c;
    font-size: @font_size;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin: 15px 0 20px;
  }

  /*blog groups*/
  .blogGroup{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    margin: 5px 0 125px;

    /* blog */
    .blog{
      background-color: #fff;
      margin: 15px;
      border: 1px solid #f8f8f8;
      /*picture in blog*/
      .picture{
        position: relative;
        z-index: 5;
        .date{
          background-color: #363636;
          border-radius: 5px;
          position: absolute;
          top: 5%;
          left: 5%;
          display: flex;
          flex-direction: column;
          h5{
            font-family: @font_Montserrat;
            color:  #fff;
            font-size: 24px;
            font-weight: 300;
            line-height: 20px;
            margin: 9px 5px;
            text-align:center;
          }
          h6{
            font-family: @font_Raleway;
            color:  #fff;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            padding: 7px 12px;
            text-transform: capitalize;
            background-color: #252525;
          }
        }
      }

      /*caption of blog*/
      .blogCaption{
        margin: 30px 0 30px 30px;
        h4{
          font-family: @font_Raleway;
          color:  #555555;
          font-size: 20px;
          font-weight: 500;
          text-align: left;
        }
        p{
          font-family: @font_Montserrat;
          color:  #8c8c8c;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          text-align: left;
          margin: 20px 0 25px;
        }
        a{
          font-family: @font_Montserrat;
          color:  #c7b299;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
          text-align: left;
          text-transform: capitalize;
          text-decoration: none;
          color: #c7b299;
          padding: 5px;
        }
      }
    }

    /*active blog*/
    .blog:hover{
      background-color: #362f2d;
      .picture {
        img{
          opacity: 0.5;
        }
        .date {
          background-color: #c7b299;
          h6 {
            background-color: #a48d72;
          }
        }
      }
      .blogCaption{
        h4{
          color: #c7b299;
        }
        p{
          color: #fff;
        }
      }
    }
  }
}
/*Blog information end*/

/*our partners start*/
.logoPartners{
  background-image:  url("../img/bg_logo.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  img{
    margin: 140px 0;
    width: 150px;
    height: 150px;
  }
}
/*our partners end*/

/*section of about us, recent posts, twitter, widgets start*/
.infoBlog{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background-color:  #191919;
  padding: 5% 0;

  /*section of about us*/
  .about{
    width: 23.5%;
    padding: 1.5%;
    p{
      font-family: @font_Montserrat;
      color:  #545454;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      padding: 30px 0;
    }
    a{
      font-family: @font_Montserrat;
      color:  #d1d1d1;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-decoration: none;
      text-transform: capitalize;
      padding: 5px 0;
      .arrow{
        padding-bottom: 0 !important;
      }
    }
    a:hover{
      color:  #545454;
    }

  }

  /*section of  recent posts*/
  .recentPosts{
    width: 23.5%;
    padding: 1.5%;

    h4{
      font-family: @font_Raleway;
      color:  #ffffff;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 26px;
      padding-top: 15px;
    }
    .postsBlog{
      padding: 15px 0;
      border-bottom: 1px solid #252525;
      h6{
        font-family: @font_Montserrat;
        color:  #363636;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        padding-bottom: 5px;
      }
      a{
        font-family: @font_Montserrat;
        color:  #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        text-decoration: none;
      }
    }
    .postsBlog:last-child{
      border-bottom: none;
    }
    .postsBlog:hover{
      h6{
        color:  #fff;
      }
      a{
        color:  #c7b299;
      }
    }
  }

  /*section of twitter*/
  .twitter{
    width: 23.5%;
    padding: 1.5%;
    h4{
      font-family: @font_Raleway;
      color:  #ffffff;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 26px;
      padding-top: 15px;
    }
    .twitterBlog{
      padding: 15px 0;
      border-bottom: 1px solid #252525;
      h6{
        font-family: @font_Montserrat;
        color:  #363636;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        padding-top: 5px;
      }
      a{
        font-family: @font_Montserrat;
        color:  #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        span{
          color:  #00bff3;
        }
      }
    }

    .twitterBlog:last-child{
      border-bottom: none;
      p{
        span{
          color: #959595;
        }
      }
    }
  }

  /*section of widgets */
  .widget{
    width: 23.5%;
    padding: 1.5%;
     h4{
       font-family: @font_Raleway;
       color:  #ffffff;
       font-size: 24px;
       font-weight: 700;
       padding-bottom: 26px;
       padding-top: 15px;
     }
    .widgetPhoto{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      img{
        margin: 1% 1%;
      }
    }
  }
}
/*section of about us, recent posts, twitter, widgets end*/

/*footer start*/
footer{
    background-color: #111111;
    display: flex;

  /*Copyright section*/
  .left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 45px 0  53px 45px;
    h5{
      font-family: @font_Montserrat;
      color:  #545454;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      padding: 0 10px;
      border-right: 1px solid #1e1e1e;
      span{
        font-family: @font_Montserrat;
        color:  #959595;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;

      }
    }
    a{
      font-family: @font_Montserrat;
      color:  #242424;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      padding: 0 10px;
      text-decoration: none;
      border-right: 1px solid #1e1e1e;
    }
    a:nth-child(3){
      font-family: @font_Montserrat;
      color:  #c7b299;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      text-align: left;
    }
    a:last-child{
      border-right: none;
    }
    a:hover{
      color:  #959595;
    }
  }
  .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 45px 30px 53px;
    h5{
      font-family: @font_Montserrat;
      color:  #545454;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      padding: 0 10px;
      a{
        font-family: @font_Montserrat;
        color:  #959595;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
      }
    }
    h5:first-child{
      border-right: 1px solid #1e1e1e;
    }
  }
}
/*footer end*/

/* Back To Top Button*/
#back-top  {
  width: 100px;
  height: 100px;
  position: fixed;
  right:10px;
  bottom: 10px;
  z-index: 9999;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  img{
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}



/*style for tablet size from 768px to 1023px*/
@media  (min-width: 768px) and (max-width: 1023px) {

/*navigation*/
  .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    padding: 0 2%;
      /*logo*/
    .logo{
      order: 2;
      width: 30% !important;
      display: flex;
      justify-content: center;
      a.logoDesktop {
        display: none !important;
      }
      a.logoMobile{
        display: block !important;
        margin: 0;
      }
    }
    /*navigation*/
    nav{
      order: 1;
      width: 30% !important;
    }
    /*search cart*/
    .searchCart{
      order: 3;
      width: 30% !important;
      display: flex;
      justify-content: flex-end;
      a{
        padding: 15px;
      }
    }
  }


  /*burger menu start*/
  @keyframes slideInLeft {
    0% {
      transform: translate3d(0, -300px, 0);
      visibility: visible;
    }
    100% {
      transform: translate3d(80px, 0, 0);
    }
  }
  @keyframes slideOutLeft {
    0% {
      transform: translate3d(80px, 0, 0);
    }
    100% {
      transform: translate3d(0, -300px, 0);
      visibility: hidden;
    }
  }

  .b-nav {
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;


  }

  .b-nav:not(.open) {
    visibility: hidden;
  }

  .b-nav li {
    color: white;
    list-style-type: none;
    padding: 60px 5px 20px !important;
    text-align: center;


  }

  .b-nav li:not(.open) {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  .b-nav li {
    padding-top: 70px;
  }

  .b-nav.open {
    visibility: visible;
  }

  .b-nav.open li {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideInLeft;
  }

  .b-link:hover, .b-link:active {
    border-bottom: #fff solid 2px;
    padding-left: 30px;
  }

  .b-menu {
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    padding-left: 15.5px;
    padding-top: 17.5px;
    position: relative;
    transition: all 0.4s ease;
    user-select: none;
    width: 60px;
    z-index: 12;
  }

  .b-menu:hover {
    border: #c7b299 solid 2px;
  }

  .b-bun {
    background: white;
    position: relative;
    transition: all 0.4s ease;
  }

  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px;
    background: white;
  }

  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px;
    background: white;
  }

  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px;
    background: white;
  }

  .b-container {
    height: 60px;
    left: 30px;
    position: absolute;
    top: 30px;
  }

  .b-container:hover:not(.open) .bun-top,
  .b-container:hover:not(.open) .bun-mid,
  .b-container:hover:not(.open) .bun-bottom {
    background: #c7b299;
  }

  .b-container.open .b-main {
    border: white solid 2px;
  }

  .b-container.open .b-bun--top {
    background: white;
    top: 9px;
    transform: rotate(45deg);
  }

  .b-container.open .b-bun--mid {
    opacity: 0;
  }

  .b-container.open .b-bun--bottom {
    background: white;
    top: 5px;
    transform: rotate(-45deg);
  }

/*burger menu end*/

  /*header content*/
  hgroup{
    a{
      margin-bottom: 250px !important;
    }
  }

  /*our works*/
  aside {
    flex-wrap: wrap;
    section{
      width: 40%;
      padding: 5%;
    }
  }

  /*portfolio content*/
  .portfolio{
    p{
      font-size: 15px;
    }
  }

  /*mobile info content*/
  .mobileInfo {
    .handMobile {
      width: 45%;
      display: flex;
      justify-content: flex-end;
      img{
        width: 90%;
        height: 90%;
        margin-top: 14.5%;
      }

    }
    .mobileContent{
      width: 55%;
      h3{
        font-size: 25px;
      }
      p{
        font-size: 14px;
        padding: 20px 0;
      }
      ul{
        li{
          font-size: 14px;
        }
      }
    }
  }

  /*timers*/
  .timer{
    section{
      width: 100px;
      .counter{
        font-size: 40px;
        width: 100px;
      }
      p{
        padding-bottom: 20px;
      }
    }
  }

  /*Blog information*/
  article{
    p{
      font-size: 15px;
    }
  }

/*section of about us, recent posts, twitter, widgets*/
  .infoBlog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .about, .recentPosts, .twitter, .widget{
      width: 50%;
      padding: 5%;

    }
  }

  /*footer*/
  footer{
    flex-wrap: wrap;
    .left{
     width: 100%;
      padding: 45px 0 10px 45px;
    }
    .right{
      width: 100%;
      justify-content: flex-start;
      padding: 10px 45px 53px;
      h5{
        padding: 0 67px 0 10px;
      }
    }
  }
}

/*style for mobile size from 320px to 767px*/
@media  (min-width: 320px) and (max-width: 767px) {

 /*header*/
  header{
     /*navigation section*/
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between !important;

       /*logo*/
      .logo {
        order: 2;
        width: 30% !important;
        display: flex;
        justify-content: center;
        a.logoDesktop {
          display: none !important;
        }
        a.logoMobile {
          display: block !important;
          margin: 0;
        }
      }
      /*navigation*/
      nav {
        order: 1;
        width: 30% !important;
      }
      /*search and cart icons*/
      .searchCart {
        order: 3;
        width: 30% !important;
        display: flex;
        justify-content: flex-end;
        padding: 5% 0;
        a {
          padding: 15px;
        }
      }
    }


    /*burger menu start*/
    @keyframes slideInLeft {
      0% {
        transform: translate3d(-200px, 0, 0);
        visibility: visible;
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }
    @keyframes slideOutLeft {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-200px, 0, 0);
        visibility: hidden;
      }
    }
    .b-nav {
      position: absolute;
      z-index: 11;
      display: flex;
      flex-direction: column !important;
      background-color: #4B4A45;
      padding: 50px 10px 10px !important;
    }

    .b-nav:not(.open) {
      visibility: hidden;
    }

    .b-nav li {
      color: white;
      list-style-type: none;
      padding: 10px;
      text-align: left;
      transform: translateX(-200px);
    }

    .b-nav li:not(.open) {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: slideOutLeft;

    }

    .b-nav li:first-child {
      padding-top: 70px;
    }


    .b-nav.open {
      visibility: visible;
    }

    .b-nav.open li {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: slideInLeft;
      color: #fff;

    }
    .b-link {
      transition: all 0.4s ease;
      width: auto;
    }
    .b-link:hover, .b-link--active {
      border-left: #fff solid 2px;
      padding-left: 30px;
      color: #fff;
    }

    .b-menu {
      border: white solid 2px;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: 60px;
      padding-left: 15.5px;
      padding-top: 17.5px;
      position: relative;
      transition: all 0.4s ease;
      user-select: none;
      width: 60px;
      z-index: 12;

    }

    .b-menu:hover {
      border: #fff solid 2px;
    }

    .b-bun {
      background: white;
      position: relative;
      transition: all 0.4s ease;
    }

    .b-bun--top {
      height: 2px;
      top: 0;
      width: 25px;
      background: white;
    }

    .b-bun--mid {
      height: 2px;
      top: 8px;
      width: 25px;
      background: white;
    }

    .b-bun--bottom {
      height: 2px;
      top: 16px;
      width: 25px;
      background: white;
    }

    .b-container {
      height: 60px;
      left: 30px;
      position: absolute;
      top: 30px;
    }

    .b-container:hover:not(.open) .bun-top,
    .b-container:hover:not(.open) .bun-mid,
    .b-container:hover:not(.open) .bun-bottom {
      background: #c7b299;
    }

    .b-container.open .b-main {
      border: white solid 2px;
    }

    .b-container.open .b-bun--top {
      background: white;
      top: 9px;
      transform: rotate(45deg);
    }

    .b-container.open .b-bun--mid {
      opacity: 0;
    }

    .b-container.open .b-bun--bottom {
      background: white;
      top: 5px;
      transform: rotate(-45deg);
    }
    /*burger menu end*/

    /*header content*/
    hgroup{
      div {
        h2 {
          font-size: 100%;

        }
        h1 {
          font-size: 40px;

        }
        a {
          font-size: 100%;

        }
      }
    }
  }


/*section our works*/
  aside{
    display: flex;
    flex-wrap: wrap;

    section{
      padding: 10% 5%;
    }
  }

/*screen section*/
  section.screenContent{
    .contant{
      width: 80%;
      margin: 5% 10%;
      h2{
        font-size: 25px;
        padding-top: 20%;
      }
      p{
        font-size: 14px;
        margin: 10% 0 25%;
      }
    }
    .screen{
      .screenLeft,.screenRight{
        display: none;
      }
      .screenActive {
        position: relative;
        padding: 0 10%;
        z-index: 5;
      }
    }
  }

  /*wordpress works*/
  .wordpress {
    display: flex;
    flex-wrap: wrap;
    .left {
      width: 100%;
      text-align: center;
      padding: 5% 0 2%;
    }
    /*button*/
    .right {
      width: 100%;
      display: flex;
      justify-content: center;
      padding:3% 0 5%;

    }
  }

  /*portfolio*/
  .portfolio{
    padding: 2%;
    h2{
      font-size: 25px;
      margin: 60px 0 10px;
    }
    p{
      margin: 15px 0;
    }
    /*button group*/
    .button{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3% 0;
      a{
        margin: 10px 5px;
      }
    }
    /*group of projects*/
    .projectGroup {
      margin: 2%;
      width: 98%;
      .project {
        .picture {
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          a.link {
            width: 15%;
            height: 15%;
            position: absolute;
            top: 45%;
            left: 35% !important;
          }
          a.zoom{
            width: 15%;
            height: 15%;
            position: absolute;
            top: 45%;
            left: 55% !important;
          }
        }
      }
      .project:nth-child(2) {
        display: none;
      }
      .project:last-child {
        display: none;
      }
    }
    a.loadMore {
      margin: 10px 0 40px;
    }
  }


  /*Video presentation*/
  .videoPopup{
    padding: 30% 0 ;
  }

  /*Mobile app plus*/
  .mobileInfo{
    display: none;
  }

  /*timers*/
  .timer{
    flex-wrap: wrap;
    padding: 1%;
    section{
      .counter{
        font-size: 35px;
      }
      p{
        padding-bottom: 10%;
      }
      hr{
        background-color: @color_text;
        width: 30px;
        height: 2px;
      }
    }
  }

  /*Blog information*/
  article {
    padding: 2%;
    h2{
      margin: 30px 0 5px;
    }
    p{
      margin: 10px 5px 10px;
    }
    /*blog group*/
    .blogGroup{
      margin: 5px 0 20px;
      .blog{
        width: 80%;
        height: 80%;
        .picture {
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .blog:nth-child(2){
        display: none;
      }
      .blog:last-child{
        display: none;
      }
    }
  }

  /*our logo partners*/
  .logoPartners{
    padding: 2%;
    img{
      margin: 5%;
      width: 24%;
      height: 24%;
    }
  }

  /*section of about us, recent posts, twitter, widgets*/
  .infoBlog {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    /*about us*/
    .about {
      width: 80%;
      padding: 2.5%;
      border-bottom: 1px solid #252525;
      p{
        padding: 10px 0;
      }
    }
    /*recentPosts*/
    .recentPosts {
      width: 80%;
      padding: 2.5%;
      border-bottom: 1px solid #252525;
      h4 {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 40px;
      }
      .postsBlog {
        padding: 5px 0;
      }
    }
    /*twitter*/
    .twitter {
        width: 80%;
        padding: 2.5%;
        border-bottom: 1px solid #252525;
        h4 {
          text-align: center;
          padding-bottom: 10px;
          padding-top: 40px;
        }
        .twitterBlog {
          padding: 5px 0;
        }
    }
    /*widget*/
    .widget {
        width: 90%;
        padding: 2%;
        h4 {
          text-align: center;
          padding-bottom: 10px;
          padding-top: 40px;
        }
    }
  }

  /*footer*/
  footer {
      flex-wrap: wrap;
      .left {
        width: 100%;
        padding: 5% 0 2%;
      }
      .right {
        width: 100%;
        justify-content: flex-start;
        padding: 4% 0 5%;
        flex-wrap: wrap;
        h5 {
          padding-bottom: 5px;
          border: none !important;
        }
      }
  }
}

/*style for some elements at size from 615px to 790px*/
@media  (min-width: 615px) and (max-width: 790px) {

  /*our works*/
  aside{
    display: flex;
    flex-wrap: wrap;
    section{
      width: 40%;
      height: 40%;
      padding: 5% 0;
    }
  }
}




