* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
}
header {
  background-image: url("../img/bg_foto.png");
  background-repeat: no-repeat;
}
header .navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
}
header .navigation .logo {
  width: 30%;
}
header .navigation .logo a {
  margin-left: 30px;
}
header .navigation .logo a img {
  padding: 30px 30px;
}
header .navigation .logo a.logoMobile {
  display: none;
}
header .navigation nav {
  width: 60%;
}
header .navigation nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 50px 10px;
}
header .navigation nav ul li a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  padding: 10px;
  color: #ffffff;
}
header .navigation nav ul li a:hover {
  color: #ac9b87;
}
header .navigation .searchCart {
  width: 10%;
  padding: 45px 0;
}
header .navigation .searchCart a {
  padding: 10px;
}
header hgroup div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 220px;
}
header hgroup div .logoHeader {
  display: none;
}
header hgroup div h2 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
header hgroup div h1 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}
header hgroup div p {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}
header hgroup div a {
  margin-bottom: 370px;
  border-radius: 5px;
  background-color: #998675;
  width: 170px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
header hgroup div a:hover {
  background-color: #fff;
  color: #998675;
  border: 1px solid #998675;
}
aside {
  display: flex;
  justify-content: space-around;
}
aside section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 80px 30px;
}
aside section h4 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
aside section p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}
aside section hr {
  background-color: #8c8c8c;
  width: 70px;
  height: 3px;
  border: none;
}
aside section:hover h4,
aside section:hover p {
  color: #c7b299;
}
aside section:hover hr {
  background-color: #c7b299;
}
section.screenContent {
  width: 100%;
  background-color: #fbfaf8;
}
section.screenContent .contant {
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
section.screenContent .contant h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  padding-top: 83px;
}
section.screenContent .contant p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 23px 0 40px;
}
section.screenContent .screen {
  display: flex;
  justify-content: space-between;
  position: relative;
}
section.screenContent .screen .screenLeft,
section.screenContent .screen .screenRight {
  width: 50%;
  height: 70%;
  padding: 123px 1% 0;
}
section.screenContent .screen .screenActive {
  position: absolute;
  padding: 0 20%;
  margin-bottom: -50px;
  bottom: 50px;
  display: flex;
  width: 100%;
  height: 100%;
}
.wordpress {
  background-image: url("../img/bg.png");
  padding: 0;
  display: flex;
}
.wordpress .left {
  width: 60%;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
}
.wordpress .left h3 {
  font-family: Raleway, sans-serif;
  color: #c7b299;
  font-size: 28px;
  font-weight: 400;
}
.wordpress .left h3 span {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}
.wordpress .left p {
  font-family: Raleway, sans-serif;
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}
.wordpress .right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 50px 30px;
}
.wordpress .right a {
  border-radius: 5px;
  background-color: #998675;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}
.wordpress .right a:hover {
  background-color: #fff;
  color: #615855;
  border: 1px solid #998675;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 10px;
}
.portfolio p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin: 15px 0;
}
.portfolio .button {
  display: inline-flex;
  margin: 5px 0;
}
.portfolio .button a {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 5px;
}
.portfolio .button a:first-child {
  padding: 10px 28px;
}
.portfolio .button a:hover {
  background-color: #998675;
  color: #fff;
  border: 1px solid #998675;
}
.portfolio .projectGroup {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
}
.portfolio .projectGroup .project {
  background-color: #fbfaf8;
  margin: 15px;
}
.portfolio .projectGroup .project .picture {
  position: relative;
}
.portfolio .projectGroup .project .picture .link {
  position: absolute;
  top: 45%;
  left: 40%;
  display: none;
}
.portfolio .projectGroup .project .picture .zoom {
  position: absolute;
  top: 45%;
  left: 55%;
  display: none;
}
.portfolio .projectGroup .project .caption {
  margin: 30px 0 0 30px;
  position: relative;
}
.portfolio .projectGroup .project .caption img {
  position: absolute;
  top: -44px;
}
.portfolio .projectGroup .project .caption .arrowHover {
  display: none;
}
.portfolio .projectGroup .project .caption h4 {
  font-family: Raleway, sans-serif;
  color: #c7b29a;
  font-size: 20px;
  font-weight: 500;
}
.portfolio .projectGroup .project .caption h5 {
  font-family: Montserrat, sans-serif;
  color: #d1d1d1;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 27px;
}
.portfolio .projectGroup .project:hover {
  background-color: #362f2d;
}
.portfolio .projectGroup .project:hover .picture img {
  opacity: 0.5;
}
.portfolio .projectGroup .project:hover .picture .link {
  display: block;
  opacity: 1;
}
.portfolio .projectGroup .project:hover .picture .zoom {
  display: block;
  opacity: 1;
}
.portfolio .projectGroup .project:hover .caption h4 {
  color: #a7a6a5;
}
.portfolio .projectGroup .project:hover .caption h5 {
  color: #c7b299;
}
.portfolio .projectGroup .project:hover .caption .arrow {
  display: none;
}
.portfolio .projectGroup .project:hover .caption .arrowHover {
  display: block;
}
.portfolio a.loadMore {
  border: 1px solid #998675;
  border-radius: 5px;
  background-color: #998675;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  margin: 10px 0 80px;
  padding: 19px 46px;
}
.portfolio a.loadMore:hover {
  background-color: #fff;
  color: #998675;
}
.video {
  background-image: url("../img/bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0 ;
}
.video h3 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 45px 0 28px;
}
.video p {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.mobileInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobileInfo .handMobile {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  padding-top: 79px;
}
.mobileInfo .mobileContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mobileInfo .mobileContent h3 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
}
.mobileInfo .mobileContent p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  width: 85% ;
  padding: 40px 0;
}
.mobileInfo .mobileContent ul {
  list-style-type: none;
  padding-left: 48px;
  list-style-position: outside;
}
.mobileInfo .mobileContent ul .fa-check-circle {
  color: #c7b299;
  padding-right: 10px;
}
.mobileInfo .mobileContent ul li {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}
.timer {
  background-image: url("../img/bg.png");
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
}
.timer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 40px;
}
.timer section h4 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 200;
  line-height: 36px;
  text-align: center;
  padding: 30px 0 18px;
}
.timer section p {
  font-family: Montserrat, sans-serif;
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-bottom: 28px;
}
.timer section hr {
  background-color: #ffffff;
  width: 30px;
  height: 2px;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article h2 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 15px;
}
article p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  margin: 15px 0 20px;
}
article .blogGroup {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  margin: 5px 0 125px;
}
article .blogGroup .blog {
  background-color: #fff;
  margin: 15px;
  border: 1px solid #f8f8f8;
}
article .blogGroup .blog .picture {
  position: relative;
}
article .blogGroup .blog .picture .date {
  background-color: #363636;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
}
article .blogGroup .blog .picture .date h5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  margin: 9px 5px;
  text-align: center;
}
article .blogGroup .blog .picture .date h6 {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 7px 12px;
  text-transform: capitalize;
  background-color: #252525;
}
article .blogGroup .blog .blogCaption {
  margin: 30px 0 30px 30px;
}
article .blogGroup .blog .blogCaption h4 {
  font-family: Raleway, sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
article .blogGroup .blog .blogCaption p {
  font-family: Montserrat, sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin: 20px 0 25px;
}
article .blogGroup .blog .blogCaption a {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  color: #c7b299;
  padding: 5px;
}
article .blogGroup .blog:hover {
  background-color: #362f2d;
}
article .blogGroup .blog:hover .picture img {
  opacity: 0.5;
}
article .blogGroup .blog:hover .picture .date {
  background-color: #c7b299;
}
article .blogGroup .blog:hover .picture .date h6 {
  background-color: #a48d72;
}
article .blogGroup .blog:hover .blogCaption h4 {
  color: #c7b299;
}
article .blogGroup .blog:hover .blogCaption p {
  color: #fff;
}
.logoPartners {
  background-image: url("../img/bg_logo.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.logoPartners img {
  margin: 140px 0;
  width: 150px;
  height: 150px;
}
.infoBlog {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background-color: #191919;
  padding: 5% 0;
}
.infoBlog .about {
  width: 23.5%;
  padding: 1.5%;
}
.infoBlog .about p {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding: 30px 0;
}
.infoBlog .about a {
  font-family: Montserrat, sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 0;
}
.infoBlog .about a .arrow {
  padding-bottom: 0 !important;
}
.infoBlog .about a:hover {
  color: #545454;
}
.infoBlog .recentPosts {
  width: 23.5%;
  padding: 1.5%;
}
.infoBlog .recentPosts h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.infoBlog .recentPosts .postsBlog {
  padding: 15px 0;
  border-bottom: 1px solid #252525;
}
.infoBlog .recentPosts .postsBlog h6 {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  padding-bottom: 5px;
}
.infoBlog .recentPosts .postsBlog a {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}
.infoBlog .recentPosts .postsBlog:last-child {
  border-bottom: none;
}
.infoBlog .recentPosts .postsBlog:hover h6 {
  color: #fff;
}
.infoBlog .recentPosts .postsBlog:hover a {
  color: #c7b299;
}
.infoBlog .twitter {
  width: 23.5%;
  padding: 1.5%;
}
.infoBlog .twitter h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.infoBlog .twitter .twitterBlog {
  padding: 15px 0;
  border-bottom: 1px solid #252525;
}
.infoBlog .twitter .twitterBlog h6 {
  font-family: Montserrat, sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 5px;
}
.infoBlog .twitter .twitterBlog a {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}
.infoBlog .twitter .twitterBlog a span {
  color: #00bff3;
}
.infoBlog .twitter .twitterBlog:last-child {
  border-bottom: none;
}
.infoBlog .twitter .twitterBlog:last-child p span {
  color: #959595;
}
.infoBlog .widget {
  width: 23.5%;
  padding: 1.5%;
}
.infoBlog .widget h4 {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
  padding-top: 15px;
}
.infoBlog .widget .widgetPhoto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.infoBlog .widget .widgetPhoto img {
  margin: 1% 1%;
}
footer {
  background-color: #111111;
  display: flex;
}
footer .left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding: 45px 0  53px 45px;
}
footer .left h5 {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
  border-right: 1px solid #1e1e1e;
}
footer .left h5 span {
  font-family: Montserrat, sans-serif;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
footer .left a {
  font-family: Montserrat, sans-serif;
  color: #242424;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
  text-decoration: none;
  border-right: 1px solid #1e1e1e;
}
footer .left a:nth-child(3) {
  font-family: Montserrat, sans-serif;
  color: #c7b299;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
footer .left a:last-child {
  border-right: none;
}
footer .left a:hover {
  color: #959595;
}
footer .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 45px 30px 53px;
}
footer .right h5 {
  font-family: Montserrat, sans-serif;
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 0 10px;
}
footer .right h5 a {
  font-family: Montserrat, sans-serif;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
}
footer .right h5:first-child {
  border-right: 1px solid #1e1e1e;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navigation .logo {
    display: none !important;
  }
  .navigation nav {
    width: 80% !important;
  }
  .navigation nav ul {
    padding: 50px 10px 0 10px !important;
  }
  .navigation nav ul li a {
    padding: 15px !important;
  }
  .navigation .searchCart {
    padding: 45px 10px 0 !important;
    width: 20% !important;
  }
  hgroup {
    margin-top: 150px !important;
  }
  hgroup .logoHeader {
    padding-bottom: 20px !important;
    display: block !important;
  }
  hgroup a {
    margin-bottom: 250px !important;
  }
  aside {
    flex-wrap: wrap;
  }
  aside section {
    width: 40%;
    padding: 5%;
  }
  .portfolio p {
    font-size: 15px;
  }
  .mobileInfo .handMobile {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .mobileInfo .handMobile img {
    width: 90%;
    height: 90%;
    margin-top: 14.5%;
  }
  .mobileInfo .mobileContent {
    width: 55%;
  }
  .mobileInfo .mobileContent h3 {
    font-size: 25px;
  }
  .mobileInfo .mobileContent p {
    font-size: 14px;
    padding: 20px 0;
  }
  .mobileInfo .mobileContent ul li {
    font-size: 14px;
  }
  .timer section h4 {
    font-size: 40px;
    padding: 20px 0 18px;
  }
  .timer section p {
    padding-bottom: 20px;
  }
  article p {
    font-size: 15px;
  }
  .infoBlog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .infoBlog .about,
  .infoBlog .recentPosts,
  .infoBlog .twitter,
  .infoBlog .widget {
    width: 50%;
    padding: 5%;
  }
  footer {
    flex-wrap: wrap;
  }
  footer .left {
    width: 100%;
    padding: 45px 0 10px 45px;
  }
  footer .right {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 45px 53px;
  }
  footer .right h5 {
    padding: 0 67px 0 10px;
  }
}
